<h2><%=@author.name%></h2>
<h3><%= display_date_as_bce_or_ce(@author.birth_date) %> to <%= display_date_as_bce_or_ce(@author.death_date) %></h3>
<br>
<h3>Bibliography:</h3>
    <br>
  <ul style="font-size:160%">
    <% myarray = @author.books.sort_by {|obj| obj.title} %>
      <% myarray.each do |book| %>
      <li><b><a href="/books/<%=book.slugtitle%>"><%= book.title %></a></b></li>
        <ul style="font-size:80%"><%= book.topics %></ul>
      <br>
      <% end %>
  </ul>

  <h3>This author lived during the following <a href="/periods">historical period(s):</a>
      <ul>
        <% @author.periods.each do |timeframe| %><br>
            <li style="font-size:80%"><b><%= "#{timeframe.name}:" %></b> &emsp; <%= "begins in #{display_date_as_bce_or_ce(timeframe.start_date)} and ends in #{display_date_as_bce_or_ce(timeframe.end_date)}" %></li>
        <% end %>
      </ul>
  </h3>

<br></br>
  <h3>This author lived in the following <a href="/locations">locations(s):</a>
      <ul>
        <% @author.locations.each do |locale| %><br>
          <% if locale.region != nil %>
            <li style="font-size:80%"><b><%= "#{locale.city}:" %></b> &emsp; <%= "today part of #{locale.today_part_of}; in the region of #{locale.region}, when it was part of the #{locale.polity}." %></li>
          <% else %>
            <li style="font-size:80%"><b><%= "#{locale.city}:" %></b> &emsp; <%= "today part of #{locale.today_part_of}; when it was part of the #{locale.polity}." %></li>
          <% end %>
        <% end %>
      </ul>
  </h3>

<br></br>
<p style="font-size:170%"><a href="/authors">Click here to return to the authors index</a></p>
