<h1>Books</h1>
<!-- this CSS was added because the ordered list was not counting up; each item had a "1." next to it. -->
<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
<h3>
  <font color="#33ccff">
   <% if flash.has?(:books_index_page_message) %>
    <%= flash[:books_index_page_message] %>
   <% end %>
  </font>
</h3>

<br>
  <ol style="font-size:140%">
    <% myarray = @books.sort_by {|obj| obj.title} %>
      <% myarray.each do |book| %>
      <li><b><a href="/books/<%=book.slugtitle%>"><%= book.title %></a></b></li>
        <ul style="font-size:80%">
          <%= book.topics %><br>
          <% if logged_in? && book.user_id == session[:user_id] %>
            <a style="font-size:80%" href="/books/<%=book.slugtitle%>/edit">Edit This Book</a>
          <% end %>
        </ul>
      <br><br>
      <% end %>
  </ol>
